

<div>
	<b>sessionId:</b> <%= sesId %>
</div>
<div>
	<b>isAuth</b> <%= isAuth %>
</div>
<div>
	<b>user</b> <%= user %>
</div>

<h1>Register</h1>
<form action="/register" method="post">
	<div>
	<label>Email:</label>
	<input type="text" name="email"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>

<a href="/login">login</a>